@import url(https://db.onlinewebfonts.com/c/002254488ce1877d55ad3693e527ad1e?family=IRANSansWeb);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "IRANSansWeb", sans-serif;
  background-color: #f4f5fc;
}
